<!-- app/views/doctors/edit_password.html.erb -->
<h2>Edit Your Password</h2>

<%= form_for(@patient, url: update_password_patient_path(@patient), html: { method: :patch }) do |f| %>
  <%= render "application/error_messages", object: @patient %>
  <div>
    <%= f.label :current_password %>
    <%= f.password_field :current_password, required: true %>
  </div>

  <div>
    <%= f.label :password, "New Password" %>
    <%= f.password_field :password, required: true %>
  </div>

  <div>
    <%= f.label :password_confirmation, "Confirm New Password" %>
    <%= f.password_field :password_confirmation, required: true %>
  </div>

  <div class="form-actions">
    <%= f.submit "Update Password", class: "btn" %>
  </div>
<% end %>
