<div class="patient-profile">
  <h1>Patient Profile</h1>
  <p><strong>Email:</strong> <%= @patient.email %></p>
  <p><strong>Name:</strong> <%= @patient.name %></p>
  <p><strong>Gender:</strong> <%= @patient.gender %></p>
  <p><strong>Phone Number:</strong> <%= @patient.phone_number %></p>
  <p><strong>Address:</strong> <%= @patient.address %></p>
  <p><strong>Medical History:</strong> <%= @patient.patient_profile.medical_history %></p>
  <p><strong>Date of Birth:</strong> <%= @patient.patient_profile.date_of_birth %></p>
  <p><strong>Blood Type:</strong> <%= @patient.patient_profile.blood_type %></p>
  <p><strong>Allergies:</strong> <%= @patient.patient_profile.allergies %></p>
  <p><strong>Emergency Contact Name:</strong> <%= @patient.patient_profile.emergency_contact_name %></p>
  <p><strong>Emergency Contact Number:</strong> <%= @patient.patient_profile.emergency_contact_phone %></p>
  <p><strong>Insurance Provider:</strong> <%= @patient.patient_profile.insurance_provider %></p>
  <p>
    <strong>Images:</strong><br>
    <% if @appointment.image1.present? %>
      <%= image_tag @appointment.image1.url, style: 'height: 260px; width: 260px;' %><br>
    <% end %>
    <% if @appointment.image2.present? %>
      <%= image_tag @appointment.image2.url, style: 'height: 260px; width: 260px;' %><br>
    <% end %>
    <% if @appointment.image3.present? %>
      <%= image_tag @appointment.image3.url, style: 'height: 260px; width: 260px;' %><br>
    <% end %>
  </p>
</div>