<div class="patient-profile">
  <h1>Patient Profile</h1>
  <p><strong>Email:</strong> <%= @patient.email %></p>
  <p><strong>Name:</strong> <%= @patient.name %></p>
  <p><strong>Gender:</strong> <%= @patient.gender %></p>
  <p><strong>Phone Number:</strong> <%= @patient.phone_number %></p>
  <p><strong>Address:</strong> <%= @patient.address %></p>
  <p><strong>Medical History:</strong> <%= @profile.medical_history %></p>
  <p><strong>Date of Birth:</strong> <%= @profile.date_of_birth %></p>
  <p><strong>Blood Type:</strong> <%= @profile.blood_type %></p>
  <p><strong>Allergies:</strong> <%= @profile.allergies %></p>
  <p><strong>Emergency Contact Name:</strong> <%= @profile.emergency_contact_name %></p>
  <p><strong>Emergency Contact Number:</strong> <%= @profile.emergency_contact_phone %></p>
  <p><strong>Insurance Provider:</strong> <%= @profile.insurance_provider %></p>
</div>